.tab {
    overflow: hidden;
}

.tab button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
}
